@use '../Variables/utils.scss';
@use '../Variables/colors.scss';

.leaflet-container {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#logout-btn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: colors.$button-color;
    font-size: utils.$button-font-size;
    padding:  utils.$button-padding;
    border-radius: 0.3rem;
    border: utils.$button-border;
    background: colors.$button-background;
    box-shadow: utils.$button-box-shadow;
    z-index: 30;
    cursor: pointer;
}
#hide-btn {
    position: absolute;
    top: 19rem;
    right: 3rem;
    color: colors.$button-color;
    font-size: utils.$button-font-size;
    padding: utils.$button-padding;
    border-radius: 0.3rem;
    border: utils.$button-border;
    background: colors.$button-background;
    box-shadow: utils.$button-box-shadow;
    z-index: 20;
    cursor: pointer;
  
}



.loading-screen {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    > div {

        width: 10rem;
        height: 10rem;
    }
}