.leaflet-container {

    height: 100vw;
}

.loading-screen {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    > div {

        width: 100px;
        height: 100px;
    }
}