@use '../Variables/colors.scss';
@use '../Variables//utils.scss';

.panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 40vw;
    padding: 20px 30px;
    z-index: 30;
    border-right: utils.$panel-border ;
    background: utils.$panel-background-color;
    background-image: utils.$panel-background-image;
    transition: transform 2s;

    >h2, label {
      color:#1c361d
    }

    h2 > span >svg{
      margin-bottom: -5px;
    }

    .header-1 {
      margin: 0;
    }

    #hide {
      cursor: pointer;
      margin-top: 100px;
    }
    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px 16px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
        cursor: pointer;
      }
   
}

.hidden-panel {
  transform: translateX(-100%);

}