.search-bar {
position: relative;

.result-wrapper{
    position: absolute;

    z-index: 10000;
    .result{
        background: white;
        font-size: 12px;
        padding: 10px;
    
    }   
}

}