//Login Screen
$login-font-size: 3rem;

//Panel
$panel-border: 0.1rem solid grey;

$panel-background-color: #85ffbe3f;

$panel-background-image: linear-gradient(45deg, #85ffbe49 0%, #fffb7d3b 100%);


//Map buttons
$button-border: 0px solid rgba(0, 0, 0, 0.301);

$button-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
rgba(0, 0, 0, 0.12) 0px -12px 30px, 
rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
rgba(0, 0, 0, 0.09) 0px -3px 5px;

$button-border: 1px solid grey;

$button-font-size: 2rem;

$button-padding: 0.5em;
